extends ../views/layout

block vendor_css
  link(rel='stylesheet' href= slick_css)

block vendor_js
  script(src= slick_js)

block content
  #project
    #title
      .wrap
        h1= post.h1
        h2= post.h2
        h3= post.h3
        hr

    .full-image(style= bg_img(project_img(post.hero_img), post.hero_img_bg_color))

    #description
      .wrap
        != marked(post.description)

    - each m in post.modules

      if m.type == 'goal'
        .goal
          .img
            img(src= project_img(m.img))
          .copy
            != marked(m.copy)

      else if m.type == 'slideshow'
        .slideshow
          .wrap
            != marked(m.copy)
            .img
              - each img in m.imgs
                .contain(style= bg_img(project_img(img)))

      else if m.type == 'full-image'
        .full-image(style= bg_img(project_img(m.img), m.bg_color))

      else if m.type == 'alt-goal'
        .alt-goal
          .wrap
            .copy
              != marked(m.copy)
            .img
              img(src= project_img(m.img))

      else if m.type == 'alt-slideshow'
        .slideshow.alt
          .wrap
            != marked(m.copy)
            .img
              - each img in m.imgs
                .contain(style= bg_img(project_img(img)))

    #takeaway
      .wrap
        != marked(post.takeaway)
        .controls
          a.prev
            img(src='/img/icons/arrow-left.svg')
            span Prev Project
          a.next
            span Next Project
            img(src='/img/icons/arrow-right.svg')

