extends ../views/layout

block vendor_css
  link(rel='stylesheet' href= slick_css)
  link(rel='stylesheet' href= slick_theme)

block vendor_js
  script(src= slick_js)

block content
  #project
    #title
      .wrap
        h1= post.h1
        h2= post.h2
        h3= post.h3
        hr

    .full-image

    #description
      .wrap
        != marked(post.description)

    - each m in post.modules

      if m.type == 'goal'
        .goal
          .img
            img(src='//placehold.it/540x400')
          .copy
            != marked(m.copy)

      else if m.type == 'inspiration'
        .inspiration
          .wrap
            != marked(m.copy)
            .img
              .contain
              .contain
              .contain

      else if m.type == 'full-image'
        .full-image

      else if m.type == 'alt-goal'
        .alt-goal
          .wrap
            .copy
              != marked(m.copy)
            .img
              img(src='//placehold.it/540x400')

      else if m.type == 'alt-inspiration'
        .inspiration.alt
          .wrap
            != marked(m.copy)
            .img
              .contain
              .contain
              .contain

    #takeaway
      .wrap
        != marked(post.takeaway)
        .controls
          a.prev
            img(src='/img/icons/arrow-left.svg')
            span Prev Project
          a.next
            span Next Project
            img(src='/img/icons/arrow-right.svg')

