extends ../views/layout

block vendor_css
  link(rel='stylesheet' href= slick_css)

block vendor_js
  script(src= slick_js)
  script(src= fit_vids_js)

block content
  #project
    #title
      .wrap
        h1= post.h1
        h2= post.h2
        h3= post.h3
        hr

      if post.hero_video
        .video
          .wrap
            iframe(src='https://player.vimeo.com/video/' + post.hero_video + '?color=72c9bc&title=0&byline=0&portrait=0', width='auto', height='auto', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      else
        .full-image(style= bg_color(post.hero_img_bg_color))
          img(src= project_img(post.hero_img))

    #description
      .wrap
        != marked(post.description)

    - each m in post.modules

      if m.type == 'goal'
        .goal(style= bg_color(m.bg_color))
          .img
            img(src= project_img(m.img))
          .copy
            != marked(m.copy)

      else if m.type == 'slideshow'
        .slideshow(style= bg_color(m.bg_color))
          .wrap
            != marked(m.copy)
            .img
              - each img in m.imgs
                img(src= project_img(img))

      else if m.type == 'full-image'
        .full-image(style= bg_img(project_img(m.img), m.bg_color))
          img(src= project_img(m.img))

      else if m.type == 'alt-goal'
        .alt-goal(style= bg_color(m.bg_color))
          .wrap
            .img
              img(src= project_img(m.img))
            .copy
              != marked(m.copy)

      else if m.type == 'video'
        .video
          .wrap
            iframe(src='https://player.vimeo.com/video/' + m.id + '?color=72c9bc&title=0&byline=0&portrait=0', width='auto', height='auto', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

    #takeaway
      .wrap
        != marked(post.takeaway)
        .controls
          a.prev(href= prev_project_url(post, data.order))
            img(src='/img/icons/arrow-left.svg')
            span Prev Project
          a.next(href= next_project_url(post, data.order))
            span Next Project
            img(src='/img/icons/arrow-right.svg')
        a.button(href= post.full_deck_doc) View Deck
