---
hover: |
  #### Beak & Skiff
  ##### Mobile App Experiment
h1: Beak & Skiff
h2: Mobile app experiment for multiple platforms
h3: Concept & UX/UI. Winter 2014.
thumbnail: 'beak-skiff-thumb-2x.jpg'
hero_img: 'beak-skiff-hero-new.jpg'
hero_img_bg_color: white
description: |
  Western New York's premiere apple orchard is in need of a mobile presence. [Beak & Skiff](#) would like to enhance the picking experience by providing apple information in real-time. The supplemental app ensures a smooth experience among guests in the orchard, letting them wander in confidence and make educated decisions on which apples to pick and what to do with them. Features include guidance on available apple varieties, key characteristics, recommended cooking and eating information, and suggested recipes.

takeaway: |
  ### The Takeaway

  This project required quite a bit of research into the main differences between iOS7, Android, and Windows. Sorting through all of the information was an overwhelming task, but it is knowledge that I am thankful to put under my belt.

full_deck_doc: "https://dl.dropboxusercontent.com/s/ak4mn6gu0k9s9rl/alexa-martinez-beak-skiff-deck.pdf?dl=0"

modules:
  - type: 'slideshow'
    copy: |
      ### Research

      First steps first - analyzing the current Beak & Skiff website and its existing features.
    imgs:
      - 'beak-skiff-research1.jpg'
      - 'beak-skiff-research2.jpg'
  - type: 'slideshow'
    copy: |
      ### Development

      Research lead to a focus on imagery and detailed description to communicate the difference between apple varieties.
    imgs:
      - 'beak-skiff-sketches.jpg'
    bg_color: white
  - type: 'alt-goal'
    copy: |
      ### Systematic Design

      An important task was envisioning the app across three different mobile platforms, leaning on conventions of iOS7, Android, and Windows to differentiate each experience.
    img: 'beak-skiff-device.jpg'
  - type: 'slideshow'
    copy: |
      ### Content Driven Design

      Wireframes set for content driven design in iOS7, which then carried over to the Android and Windows experiences.
    imgs:
      - 'beak-skiff-wireframe1.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'beak-skiff-overview.jpg'
    bg_color: white
---
extends _template
