---
hover: |
<<<<<<< HEAD
  #### Beak & Skiff Is this editing
=======
  #### Beak Is this editing
>>>>>>> origin/master
  ##### Mobile App Experiment
h1: Beak & Skiff
h2: A mobile app for multiple platforms
h3: Concept & UI/UX. Winter 2013.
thumbnail: 'beak-skiff-thumb-2x.jpg'
hero_img: 'beak-skiff-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  Upstate New York's premiere apple orchard does not have a mobile presence! [Beak & Skiff](#) would like to inform families and friends of the variety of apples available and have a place to share exclusive cooking recipes with their community.

takeaway: |
  ### The Takeaway

 This project required quite a bit of research into just what the key differences are between iOS7, Android, and Windows. Sorting through all of the information was an overwhelming task, but it is knowledge that I am thankful to put under my belt.

full_deck_doc: "https://dl.dropboxusercontent.com/s/liodck8bz2q4sek/greatest-hotels-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'beak-skiff-goal-2x.jpg'
    copy: |
      ### Goal

      To ensure a smooth experience in the orchard, it is best to deliver guidance on available apples’ characteristics followed with suggested recipes. This app will allow users to pick apples with confidence.

  - type: 'slideshow'
    copy: |
      ### Users

      <div class="lists">
        <div class="list">
          <h4>Who are they?</h4>
          <ul>
            <li>25 to 55-year-olds with upper income</li>
            <li>Willing to spend $500-1,000 a night</li>
            <li>Spontaneous travelers with exquisite taste</li>
          </ul>
        </div>

        <div class="list">
          <h4>What do they need?</h4>
          <ul>
            <li>To visit the greatest hotels in the world</li>
            <li>The ability to envision their hotel experience</li>
            <li>A smart and quick process for easy booking</li>
          </ul>
        </div>
      </div>

      ### User Paths

      Two different user paths are used to illustrate the potential of the Greatest Hotels website.
    imgs:
      - 'greatest-hotels-slide1-2x.jpg'
      - 'greatest-hotels-slide2-2x.jpg'

  - type: 'full-image'
    img: 'greatest-hotels-sketch-2x.jpg'
    bg_color: '#ffffff'

  - type: 'alt-goal'
    copy: |
      ### The Brand

      In order to evoke the particular high-class image of Greatest Hotels, a fleur-de-lis was used as inspiration for the mark.
    img: 'greatest-hotels-brand-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Wireframes

      After Branding was established, the wireframing process began.
    imgs:
      - 'greatest-hotels-slide1-2x.jpg'
      - 'greatest-hotels-slide2-2x.jpg'
      - 'greatest-hotels-comp5-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Design Direction

      A bright, light interface became the solution for a simple, impactful style.
    imgs:
      - 'greatest-hotels-design-direction-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Final Comps
    imgs:
      - 'greatest-hotels-comp1-2x.jpg'
      - 'greatest-hotels-comp2-2x.jpg'
      - 'greatest-hotels-comp3-2x.jpg'
      - 'greatest-hotels-comp4-2x.jpg'
      - 'greatest-hotels-comp5-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'greatest-hotels-website-2x.jpg'
  - type: 'alt-goal'
    copy: |
      ### Style Guide

      Review the style guide for Greatest Hotels in order to see the fine details of the project.

      <a class="button" href="https://dl.dropboxusercontent.com/s/atsi6ep4xsab4p2/greatest-hotels-style-guide.pdf?dl=0">View Style Guide</a>
    img: 'greatest-hotels-styleguide-2x.jpg'
    bg_color: '#f5f5f5'
---
extends _template
