---
hover: |
  #### Beak & Skiff
  ##### Mobile App Experiment
h1: Beak & Skiff
h2: Mobile app experiment for multiple platforms
h3: Concept & UX/UI. Winter 2014.
thumbnail: 'beak-skiff-thumb-2x.jpg'
hero_img: 'beak-skiff-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  Western New York's premiere apple orchard is in need of a mobile presence. [Beak & Skiff](#) would like to enhance the picking experience by providing apple information in real-time. Educating friends and family while on the go would increase customer loyalty and satisfaction.

takeaway: |
  ### The Takeaway

  This project required quite a bit of research into the main differences between iOS7, Android, and Windows. Sorting through all of the information was an overwhelming task, but it is knowledge that I am thankful to put under my belt.

full_deck_doc: "https://dl.dropboxusercontent.com/s/ak4mn6gu0k9s9rl/alexa-martinez-beak-skiff-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'beak-skiff-goals-2x.jpg'
    copy: |
      ### Goal

      To ensure a smooth experience among apple-pickers in the orchard, it is necessary to **deliver guidance** on available varieties, **present** their characteristics, and also **share** suggested recipes. This app will allow users to pick apples with confidence.
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Research

      The first step was to take a look at the Beak & Skiff website and its existing features.
    imgs:
      - 'beak-skiff-research1-2x.jpg'
      - 'beak-skiff-research2-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Development

      The research lead to a focus on imagery and detailed description to communicate the difference between apple varieties.
    imgs:
      - 'beak-skiff-sketches-2x.jpg'
    bg_color: 'dark'
  - type: 'alt-goal'
    copy: |
      ### Systematic Design

      In order to design for the three main mobile systems, learning the conventions of iOS7, Android, and Windows was necessary.
    img: 'beak-skiff-device-2x.jpg'
  - type: 'full-image'
    img: 'beak-skiff-big-image-2x.jpg'
    bg_color: '#ffffff'
  - type: 'slideshow'
    copy: |
      ### Content Driven Design

      Wireframes were set for content driven design in iOS7, whose design then carried over to Android and Windows.
    imgs:
      - 'beak-skiff-wireframe1-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'beak-skiff-overview-2x.jpg'
    bg_color: 'dark'
---
extends _template
