---
hover: |
  #### Dearborn Market
  ##### Rebranding & UI
h1: Greatest Hotels
h2: Rebranding for gourmet food market and garden center
h3: Identity & Website. Fall 2014.
thumbnail: 'dearborn-thumb-2x.jpg'
hero_img: 'dearbon-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  [Dearborn Market](#) is a gourmet food and garden center located in Holmdel, New Jersey. A local favorite, this family-owned establishment is seeking an update to their existing brand that will be spread across collateral and promotional material, indoor and outdoor signage, web design, etc.

takeaway: |
  ### The Takeaway

  Greatest Hotel is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.

full_deck_doc: "https://dl.dropboxusercontent.com/s/liodck8bz2q4sek/greatest-hotels-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'dearborn-goals-2x.jpg'
    copy: |
      ### Goal

      To create a clear and unified vision for the new identity that expresses the right message abuot their elclectic, high quality goods and strong family tradition.
  - type: 'alt-goal'
    copy: |
      ### Identity Update

      The new mark was inspired by the unmistakable architecture of the market: a giant red barn. Simple serif text plays upon the traditional feel.
    img: 'dearborn-logo-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Development

      Blah blah blah.
    imgs:
      - 'dearborn-development1-2x.jpg'
      - 'dearborn-development2-2x.jpg'
      - 'dearborn-development3-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Branding Application

      Blah blah blah.
    imgs:
      - 'dearborn-stationery1-2x.jpg'
      - 'dearborn-stationery2-2x.jpg'
      - 'dearborn-stationery3-2x.jpg'
      - 'dearborn-stationery4-2x.jpg'
      - 'dearborn-stationery5-2x.jpg'
      - 'dearborn-stationery6-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-boards-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Signage & Other Material
    imgs:
      - 'dearborn-sign1-2x.jpg'
      - 'dearborn-sign2-2x.jpg'
      - 'dearborn-sign3-2x.jpg'
      - 'dearborn-sign4-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-overview-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Website Details

      Blah blah blah.
    imgs:
      - 'dearborn-sign1-2x.jpg'
      - 'dearborn-sign2-2x.jpg'
      - 'dearborn-sign3-2x.jpg'
      - 'dearborn-sign4-2x.jpg'
---
extends _template
