---
hover: |
  #### Dearborn Market
  ##### Rebranding & UI
h1: Dearborn Market
h2: Rebranding for gourmet food market and garden center
h3: Identity & Website. Fall 2014.
thumbnail: 'dearborn-thumb-2x.jpg'
hero_img: 'dearborn-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  [Dearborn Market](#) is a gourmet food and garden center located in Holmdel, New Jersey. As a local favorite, this family-owned establishment is seeking an update to their existing brand. This will spread across collateral and promotional material, indoor and outdoor signage, web design, etc.

takeaway: |
  ### The Takeaway

  Dearborn Market was a great exercise in brand integration. Ideating potential platforms that showcase the new brand was a fun way to explore designs I would not be exposed to in other projects. Putting the final touches on packaging and UI ensure a unified vision for the new brand.

full_deck_doc: "https://dl.dropboxusercontent.com/s/x6z8ndz83efw9ad/alexa-martinez-dearborn-market-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'dearborn-goals-2x.jpg'
    copy: |
      ### Goal

      The goal is to create a clear and unified vision for the new identity that expresses their eclectic, high quality goods and strong family tradition.
    bg_color: 'dark'
  - type: 'alt-goal'
    copy: |
      ### Identity Update

      The new mark was inspired by the unmistakable architecture of the market: a giant red barn. Simple serif text plays upon the traditional feel.
    img: 'dearborn-logo-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Development

      Sketches and ideation rested heavily upon finding the right serif typeface to accompany the barn graphic.
    imgs:
      - 'dearborn-development1-2x.jpg'
      - 'dearborn-development2-2x.jpg'
      - 'dearborn-development3-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Branding Application

      A series of stationery, signage, and promotional material was produced with the new brand in mind.
    imgs:
      - 'dearborn-stationery1-2x.jpg'
      - 'dearborn-stationery2-2x.jpg'
      - 'dearborn-stationery3-2x.jpg'
      - 'dearborn-stationery4-2x.jpg'
      - 'dearborn-stationery5-2x.jpg'
      - 'dearborn-stationery6-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-boards-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Signage & Other Material
    imgs:
      - 'dearborn-sign1-2x.jpg'
      - 'dearborn-sign2-2x.jpg'
      - 'dearborn-sign3-2x.jpg'
      - 'dearborn-sign4-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Packaging
    imgs:
      - 'dearborn-food1-2x.jpg'
      - 'dearborn-food2-2x.jpg'
      - 'dearborn-food3-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-overview-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Website Details
    imgs:
      - 'dearborn-web1-2x.jpg'
      - 'dearborn-web2-2x.jpg'
      - 'dearborn-web3-2x.jpg'
    bg_color: 'dark'
---
extends _template
