---
hover: |
  #### Dearborn Market
  ##### Identity & Website
h1: Dearborn Market
h2: Rebranding for gourmet food market and garden center
h3: Identity & Website. Fall 2014.
thumbnail: 'dearborn-thumb-2x.jpg'
hero_img: 'dearborn-hero-new.jpg'
hero_img_bg_color: white
description: |
  [Dearborn Market](#) is a gourmet food and garden center located in Holmdel, New Jersey. As a local favorite, this establishment is seeking an update to their existing brand. The intent is to create a clear and unified vision for a new identity that expresses their collection of high quality goods and strong family tradition. The new approach spreads across all collateral and promotional material, indoor and outdoor signage, web design, etc.

takeaway: |
  ### The Takeaway

  Dearborn Market was a great exercise in brand integration. Ideating potential platforms that showcase the new brand was a fun way to explore designs I would not be exposed to in other projects. Putting the final touches on packaging and UI ensure a unified vision for the new brand.

full_deck_doc: "https://dl.dropboxusercontent.com/s/x6z8ndz83efw9ad/alexa-martinez-dearborn-market-deck.pdf?dl=0"

modules:
  - type: 'alt-goal'
    copy: |
      ### Identity Update

      The new mark is inspired by the unmistakable architecture of the market: a giant red barn. Simple serif text plays upon the traditional feel.
    img: 'dearborn-logo.jpg'
  - type: 'slideshow'
    copy: |
      ### EXPLORATION

      Sketches and ideation rest heavily upon finding the right serif typeface to accompany the barn graphic.
    imgs:
      - 'dearborn-development1.jpg'
      - 'dearborn-development2.jpg'
      - 'dearborn-development3.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: |
      ### Branding Application

      A series of stationery, signage, and promotional material helps complete the larger picture of this rebrand.
    imgs:
      - 'dearborn-stationery1.jpg'
      - 'dearborn-stationery2.jpg'
      - 'dearborn-stationery3.jpg'
      - 'dearborn-stationery4.jpg'
      - 'dearborn-stationery5.jpg'
      - 'dearborn-stationery6.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-boards.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: |
      ### Signage & Other Material
    imgs:
      - 'dearborn-sign1.jpg'
      - 'dearborn-sign2.jpg'
      - 'dearborn-sign3.jpg'
      - 'dearborn-sign4.jpg'
  - type: 'slideshow'
    copy: |
      ### Packaging
    imgs:
      - 'dearborn-food1.jpg'
      - 'dearborn-food2.jpg'
      - 'dearborn-food3.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'dearborn-overview.jpg'
  - type: 'slideshow'
    copy: |
      ### Website Details
    imgs:
      - 'dearborn-web1.jpg'
      - 'dearborn-web2.jpg'
      - 'dearborn-web3.jpg'
    bg_color: white
---
extends _template
