---
hover: |
  #### Giving to CIAS
  ##### Website Redesign & UX
h1: Giving to CIAS
h2: Redesign of RIT's Alumni Donation Process
h3: Web Redesign & UX. Fall 2014.
thumbnail: 'giving-thumb-2x.jpg'
hero_img: 'giving-hero-new.jpg'
hero_img_bg_color: white
description: |
  [Giving to CIAS](#) reimagines the experience of an alumni or donor as they visit RIT's online portal. The focus is on the College of Imaging Arts & Sciences, displaying important information that users want to see that ultimately leads to increased conversion for donating.

takeaway: |
  ### The Takeaway

  Breaking down the existing UX of the donation process was a heavy task. Once simplified, it was enjoyable to create a better flow. One of the best learning tools was using InVision for the first time to showcase my prototype.

full_deck_doc: "https://dl.dropboxusercontent.com/s/unneb88snpn2x1x/alexa-martinez-giving-to-cias-deck.pdf?dl=0"

modules:
  - type: 'slideshow'
    copy: |
      ### Existing Experience

      Dissecting the existing donation flow allowed for some insight into what steps were essential to the process.
    imgs:
      - 'giving-user-flow.jpg'
  - type: 'alt-goal'
    copy: |
      ### A New Approach

      Giving to CIAS welcomes a more sophisticated design while simplifying the donation process to the bare essentials. The homepage strategically showcases a variety of student work, college news and updates relevant to users.
    img: 'giving-approach.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview2.jpg'
  - type: 'slideshow'
    copy: |
      ### The Donation Process
    imgs:
      - 'giving-comp1.jpg'
      - 'giving-comp2.jpg'
      - 'giving-comp3.jpg'
      - 'giving-comp4.jpg'
      - 'giving-comp5.jpg'
    bg_color: 'white'
  - type: 'alt-goal'
    copy: |
      ### InVision Prototype

      Review the full donation process via an interactive prototype using InVision.

      <a class="button" target='_blank' href="http://invis.io/JM2C075ZP">View Prototype</a>
    img: 'giving-invision.jpg'
---
extends _template
