---
hover: |
  #### Giving to CIAS
  ##### Web Redesign and UX
h1: Giving to CIAS
h2: Redesign of RIT's Alumni Donation Process
h3: Web Redesign & UX. Fall 2014.
thumbnail: 'giving-thumb-2x.jpg'
hero_img: 'giving-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  [Giving to CIAS](#) works to redesign the experience that an alumni or donation giver goes through when visiting the portal online. The focus is on RIT’s College of Imaging Arts & Sciences, displaying information that alumni want to see while inviting them to click to donate.

takeaway: |
  ### The Takeaway

  Breaking down the UX of the donation process was a heavy task. Once boiled down, it was enjoyable to create a better flow. One of the best learning tools was using InVision for the first time to showcase my prototype.

full_deck_doc: "https://dl.dropboxusercontent.com/s/unneb88snpn2x1x/alexa-martinez-giving-to-cias-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'giving-goals-2x.jpg'
    copy: |
      ### Goal

      Redesigning Giving to CIAS welcomes a more sophisticated design, **simplifying** the donation while pulling users for conversion. Displaying different facets of student work and news is necessary.
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: |
      ### User Flow

      The flow of the donation process needed to be greatly adjusted in order for clarity and easiness.
    imgs:
      - 'giving-user-flow-2x.jpg'
  - type: 'alt-goal'
    copy: |
      ### Approach

      The use of compelling and relevant imagery draws users in, showcasing student work. It is key to simplify the donation form to essential steps.
    img: 'giving-approach-2x.jpg'
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: |
      ### Design Direction

      Inspiration draws from a sophisticated RIT color palette and a design that is warm, inviting, and visually effective.
    imgs:
      - 'giving-design-direction-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview-2x.jpg'
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview2-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Donation Process
    imgs:
      - 'giving-comp1-2x.jpg'
      - 'giving-comp2-2x.jpg'
      - 'giving-comp3-2x.jpg'
      - 'giving-comp4-2x.jpg'
      - 'giving-comp5-2x.jpg'
    bg_color: 'dark'
  - type: 'alt-goal'
    copy: |
      ### InVision Prototype

      Review the donation process via an interactive prototype from InVision.

      <a class="button" target='_blank' href="http://invis.io/JM2C075ZP">View Prototype</a>
    img: 'giving-invision-2x.jpg'
---
extends _template
