---
h1: Greatest Hotels
h2: Rebranding and Web Presence for Luxury Hoteliers
h3: Identity & Website. Fall 2013.
img: 'sounds-by-the-sea.png'
description: |
  [Greatest Hotels](#) is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.

takeaway: |
  ### The Takeaway

  Greatest Hotel is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.

modules:
  - type: 'goal'
    copy: |
      ### Goal

      To empower hoteliers to control their own destiny.

      There is a need to **immerse** users in an intensely visual experience of their hotel as if they were actually there and **capture** the energy and beauty of prime luxury hotels around the world. Essentially we want to **redirect** users to trusted hotel sites for instant booking.
  - type: 'inspiration'
    copy: |
      ### Inspiration

      Here is a blurb about the image or slideshow below.
  - type: 'full-image'
  - type: 'alt-goal'
    copy: |
      ### Goal

      There is a need to **immerse** users in an intensely visual experience of their hotel as if they were actually there and **capture** the energy and beauty of prime luxury hotels around the world.
  - type: 'alt-inspiration'
    copy: |
      ### Inspiration

      Here is a blurb about the image or slideshow below.
---
extends _template
