---
hover: |
  #### Knee Therapy
  ##### Rehab App
h1: Knee Therapy
h2: Concept and Design for Rehabilitation App
h3: Design & Animation. Fall 2014.
thumbnail: 'knee-therapy-thumb-2x.jpg'
hero_img: 'knee-therapy-hero-2x.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  [Knee Therapy](#) was inspired by a personal knee injury I suffered my senior season of collegiate soccer. Rehab was tough, but so was monitoring my progress. I wanted a place that kept all of my information together and an experience that made my challenges much more tolerable.

takeaway: |
  ### The Takeaway

  Blah Blah blah.

full_deck_doc: "https://dl.dropboxusercontent.com/s/liodck8bz2q4sek/greatest-hotels-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'knee-therapy-goals-2x.jpg'
    copy: |
      ### Goal

      To create a tracker that clearly **visualizes** all stats kept during rehab for **real-time progress** and to provide a more **enjoyable experience** for the monotonous tasks of log-keeping.
  - type: 'slideshow'
    copy: |
      ### Initial Ideation

      Blah Blah Blah.
    imgs:
      - 'knee-therapy-sketches-2x.jpg'
  - type: 'alt-goal'
    copy: |
      ### Info Architecture

      Blah Blah Blah.
    img: 'knee-therapy-infoarch-2x.jpg'
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: |
      ### Wireframes

      Blah Blah Blah.
    imgs:
      - 'knee-therapy-wireframes1-2x.jpg'
      - 'knee-therapy-wireframes2-2x.jpg'
      - 'knee-therapy-wireframes3-2x.jpg'
      - 'knee-therapy-wireframes4-2x.jpg'
      - 'knee-therapy-wireframes5-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Design Inspiration

      Blah Blah Blah.
    imgs:
      - 'knee-therapy-moodboard-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'knee-therapy-overview-2x.jpg'
---
extends _template
