---
hover: |
  #### Knee Therapy
  ##### Tablet App
h1: Knee Therapy
h2: Concept and Design for Rehabilitation App
h3: Design & Animation. Fall 2014.
thumbnail: 'knee-therapy-thumb-2x.jpg'
hero_img: 'knee-therapy-hero-new.jpg'
hero_img_bg_color: white
description: |
  [Knee Therapy](#) was inspired by a personal knee injury I suffered my senior season of collegiate soccer. The rehabilitation was tough, let alone monitoring my progress via pen and paper. Living in such a digital age I was astonished to not have a tool at my disposal. I decided to create a tracker that monitors real-time progress of all stats kept during therapy. The goal is to provide a more enjoyable experience for the monotonous tasks of log-keeping, alleviating stress and combating discouragement.

takeaway: |
  ### The Takeaway

  The close connection I felt to the material of this project propelled me to work hard to get it right. I spent most of my ideation trying to figure out what would help me best in therapy if this was a reality. Essentially, making myself an example of the user allowed for a successful outcome.

full_deck_doc: "https://dl.dropboxusercontent.com/s/pbttafkwvd21dhl/alexa-martinez-knee-therapy-deck.pdf?dl=0"

modules:
  - type: 'video'
    id: '110916675'
  - type: 'slideshow'
    copy: |
      ### Initial Ideation

      Beginning sketches illustrate a modular system that considers the constraints of a tablet.
    imgs:
      - 'knee-therapy-sketches.jpg'
  - type: 'alt-goal'
    copy: |
      ### Info Architecture

      Knee Therapy breaks statistics down to a comprehensive dashboard, pulling results from Strength and Conditioning workouts. Statistics gathered aggregate from exercise machines used in rehab. Manual input is available as well.
    img: 'knee-therapy-infoarch.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: |
      ### Wireframes

      The rehab timeline became a central part of the app, constantly adjusting based on weekly or monthly progress.
    imgs:
      - 'knee-therapy-wireframes1.jpg'
      - 'knee-therapy-wireframes2.jpg'
      - 'knee-therapy-wireframes3.jpg'
      - 'knee-therapy-wireframes4.jpg'
      - 'knee-therapy-wireframes5.jpg'
  - type: 'slideshow'
    copy: |
      ### Design Inspiration

      A dark user interface with bold pops of color signify strength and focus.
    imgs:
      - 'knee-therapy-moodboard.jpg'
    bg_color: white
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'knee-therapy-overview.jpg'
---
extends _template
