---
hover: |
  #### Knee Therapy
  ##### Rehab App
h1: Knee Therapy
h2: Concept and Design for Rehabilitation App
h3: Design & Animation. Fall 2014.
thumbnail: 'knee-therapy-thumb-2x.jpg'
hero_img: 'knee-therapy-hero.jpg'
hero_img_bg_color: '#E1E1E1'
description: |
  [Knee Therapy](#) was inspired by a personal knee injury I suffered my senior season of collegiate soccer. The rehab was tough, let alone monitoring my progress via pen and paper. Living in such a digital age I was astonished to not have a tool at my disposal - so I created my own.

takeaway: |
  ### The Takeaway

  The close connection I felt to the material of this project propelled me to work hard to get it right. I spent most of my ideation trying to figure out what would help me best in therapy if this was a reality. Essentially, making myself an example of the user allowed for a successful outcome.

full_deck_doc: "https://dl.dropboxusercontent.com/s/pbttafkwvd21dhl/alexa-martinez-knee-therapy-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'knee-therapy-goals.jpg'
    copy: |
      ### Goal

      To create a tracker that clearly **visualizes** all stats kept during rehab for **real-time progress.** Providing a more **enjoyable experience** for the monotonous tasks of log-keeping would alleviate stress and combat discouragement.
    bg_color: 'dark'
  - type: 'video'
    id: '110916675'
  - type: 'slideshow'
    copy: |
      ### Initial Ideation

      Beginning sketches show attempts for a modular system that fit within tablet constraints.
    imgs:
      - 'knee-therapy-sketches.jpg'
  - type: 'alt-goal'
    copy: |
      ### Info Architecture

      Knee Therapy breaks statistics down to a comprehensive dashboard of stats taken from both Strength and Conditioning workouts. **Statistics gathered aggregate from exercise machines used in rehab as well as manual input.**
    img: 'knee-therapy-infoarch.jpg'
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: |
      ### Wireframes

      The timeline became a central part of the app, always adjusting based on weekly or monthly progress.
    imgs:
      - 'knee-therapy-wireframes1.jpg'
      - 'knee-therapy-wireframes2.jpg'
      - 'knee-therapy-wireframes3.jpg'
      - 'knee-therapy-wireframes4.jpg'
      - 'knee-therapy-wireframes5.jpg'
  - type: 'slideshow'
    copy: |
      ### Design Inspiration

      A dark user interface with bold pops of color signify strength and focus.
    imgs:
      - 'knee-therapy-moodboard.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'knee-therapy-overview.jpg'
---
extends _template
