---
hover: |
  #### Sounds by the Sea
  ##### Donation Process Redesign
h1: Sounds by the Sea
h2: Redesign of RIT's Alumni Donation Process
h3: Web Redesign & UX. Fall 2014.
thumbnail: 'sounds-thumb-2x.jpg'
hero_img: 'sounds-hero-2x.jpg'
hero_img_bg_color: '#e1e1e1'
description: |
  [Giving to CIAS](#) works to redesign the experience that an alumni or donation giver goes through when visiting the portal online. The focus is on RIT’s College of Imaging Arts & Sciences, displaying information that alumni want to see while inviting them to experience the new donation form.

takeaway: |
  ### The Takeaway

  Greatest Hotel is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.

full_deck_doc: "https://dl.dropboxusercontent.com/s/liodck8bz2q4sek/greatest-hotels-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'giving-goals-2x.jpg'
    copy: |
      ### Goal

      To empower the full
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### User Flow

      The flow of the donation process needed to be greatly adjusted in order for clarity and easiness.
    imgs:
      - 'giving-user-flow-2x.jpg'
  - type: 'alt-goal'
    copy: |
      ### Approach

      Use compelling and relevant imagery to draw users in, showcasing student work. It is key to simplify the donation form to essential steps.
    img: 'giving-approach-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Design Inspiration

      blah blah blah
    imgs:
      - 'giving-design-direction-2x.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview-2x.jpg'
    bg_color: 'dark'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'giving-overview2-2x.jpg'
  - type: 'slideshow'
    copy: |
      ### Donation Process
    imgs:
      - 'giving-comp1-2x.jpg'
      - 'giving-comp2-2x.jpg'
      - 'giving-comp3-2x.jpg'
      - 'giving-comp4-2x.jpg'
      - 'giving-comp5-2x.jpg'
    bg_color: 'dark'
---
extends _template
