---
hover: |
  #### Sounds by the Sea
  ##### Title Sequence
h1: Sounds by the Sea
h2: Motion graphics piece for music lovers
h3: Design & Animation. Fall 2013.
thumbnail: 'sounds-by-the-sea-thumb-2x.jpg'
hero_video: '85051580'
hero_img_bg_color: '#E1E1E1'
description: |
  [Sounds by the Sea](#) is a new music festival that is taking over the sandy shores of New Jersey. Unfortunately the locals are unaware of the event. The line-up has an exciting mix of beach, folk, and rock tunes that can develop a big following once the word is out.

takeaway: |
  ### The Takeaway

  It’s all of the little things that count. I was  excited to relate to both my roots of New Jersey and love for music in this project. The lesson? Animating according to sound brings unrivaled energy and cohesion. Going the extra mile in animating details elevates the work to a whole new level.

full_deck_doc: "https://dl.dropboxusercontent.com/s/i9asojbsjpb8gd7/alexa-martinez-sounds-by-the-sea-deck.pdf?dl=0"

modules:
  - type: 'goal'
    img: 'sounds-goals.jpg'
    copy: |
      ### Goal

      To create an short title sequence for Sounds by the Sea festival that **generates a buzz** among concert goers and **promotes** anticipated headliners.
    bg_color: 'dark'
  - type: 'slideshow'
    copy: |
      ### Development

      To begin the process, I sketched out my vision and translated it into the Sounds by the Sea story.
    imgs:
      - 'sounds-sketches.jpg'
  - type: 'slideshow'
    copy: |
      ### Design Direction

      A simple, bright design direction drew from the following inspiration to play upon the fun atmosphere of the festival.
    imgs:
      - 'sounds-design-direction.jpg'
    bg_color: 'dark'
  - type: 'alt-goal'
    copy: |
      ### Style

      Many elements of this style relate down to use of simple shape and color in junction with lively secondary animation.
    img: 'sounds-style.jpg'
  - type: 'slideshow'
    copy: ''
    imgs:
      - 'sounds-overview.jpg'
    bg_color: '#f5f5f5'
  - type: 'slideshow'
    copy: |
      ### Stills
    imgs:
      - 'sounds-stills1.jpg'
      - 'sounds-stills2.jpg'
      - 'sounds-stills3.jpg'
      - 'sounds-stills4.jpg'
      - 'sounds-stills5.jpg'
      - 'sounds-stills6.jpg'
---
extends _template
