.alt-goal
  group()
  padding: 120px 0 120px 20px
  position: relative

  .img
    max-width: 540px
    float: right
    bg_color: 'dark'

    img
      max-width: 100%

    p
      color: banner-gray
      text-align: center
      line-height: 400px
      max-width: 100%

  .copy
    absolute: top 50%
    transform: translateY(-50%)
    max-width: 420px
    float: left
    padding-right: 14%

  a.button
    button(seafoam)
    max-width: 143px
    width: 100%
    font-size: .74em

  +below('xl')
    padding-top: 70px
    padding-bottom: 70px

    .img
      max-width: 50%
      padding-right: 20px

    .copy
      max-width: 40%

  +below('m')
    .copy
      max-width: 45%
      padding-right: 40px

  +below('s')
    .img
      max-width: 100%
      float: none
      padding-bottom: 15px

    .copy
      max-width: 100%
      position: static
      transform: translateY(0)
      padding-top: 5px
