.alt-goal
  group()
  padding: 120px 0
  position: relative

  .img
    min-height: 400px
    width: 540px
    float: right
    background-color: gray

    p
      color: banner-gray
      text-align: center
      line-height: 400px

  .copy
    absolute: top 50%
    transform: translateY(-50%)
    max-width: 420px
    float: left
