#description
  padding: 120px 0px 0px 0px

  p
    font-size: 2.2em
    line-height: 1.8em

  a
    color: seafoam
    hover-darken()
    font-weight: 500
    transition: color .5s

  +below('s')
    padding-top: 30px
    padding-bottom: 30px
    p
      font-size: 1.7em


  +below('m')
    padding-top: 70px
    padding-bottom: 70px
