.goal
  group()
  position: relative
  background-color: gallery-bg

  &:before
    content: ''
    inline-block()
    height: 100%
    vertical-align: middle
    margin-right: -0.25em

  .img
    float: left
    display: block
    width: 38%
    background-color: #f5f5f5

    img
      max-width: 100%
      display: block

  .copy
    absolute: top 50%
    transform: translateY(-50%)
    max-width: 540px
    width: 50%
    box-sizing: content-box
    inline-block()
    vertical-align: middle
    padding-left: 13%
    // padding-left: 160px


  +below('l')
    padding: 80px 20px

  +below('s')
    padding-top: 30px
    padding-bottom: 30px

    .img
      float: none
      width: 100%

    .copy
      position: static
      transform: translateY(0)
      width: 100%
      padding-top: 5px
      padding-left: 0
