.goal
  group()
  position: relative
  background-color: gallery-bg

  &:before
    content: ''
    inline-block()
    height: 100%
    vertical-align: middle
    margin-right: -0.25em

  .img
    float: left
    display: block
    width: 530px
    background-color: gray

    img
      max-width: 100%
      display: block

  .copy
    absolute: top 50%
    transform: translateY(-50%)
    max-width: 550px
    width: 100%
    box-sizing: content-box
    inline-block()
    vertical-align: middle
    padding-left: 160px

