.slideshow
  padding: 90px 0

  &.alt
    background-color: gallery-bg

  h3
    color: seafoam

  .img
    display: block
    min-height: 500px
    padding: 30px 0

  button
    slideshow-btn-width = 12px
    slideshow-btn-height = 24px
    absolute: top 50%
    margin-top: -(slideshow-btn-height / 2)
    size: slideshow-btn-width slideshow-btn-height
    background-size: slideshow-btn-width slideshow-btn-height
    background-repeat: no-repeat
    padding: 0
    margin: 0
    background-color: transparent
    border: none
    text-indent: -1000px
    outline: none

    &.slick-prev
      left: -25px
      background-image: url('/img/icons/slide-arrow-left.svg')

    &.slick-next
      right: -25px
      background-image: url('/img/icons/slide-arrow-right.svg')
