#inspiration-module
  padding: 90px 0

  h3
    color: seafoam

  .img
    display: block
    min-height: 500px
    padding: 30px 0

    .contain
      background-color: gray

    p
      line-height: 500px
      color: banner-gray
      text-align: center
