h3
  padding: 15px 0
  text-transform: uppercase
  color: seafoam
  font-size: 2em
  border-bottom: 1px solid seafoam
  inline-block()
  padding-right: 40px

p
  padding: 12px 0
  font-size: 1.9em
  line-height: 1.8em

ul
  padding-left: 1em
  text-indent: -1.1em

  li
    font-size: 1.9em
    line-height: 2em

  li:before
    content: '• '
    color: seafoam
    padding-right: 6px

.lists
  group()
  padding-bottom: 70px

.list
  width: 50%
  float: left
  padding: 25px 0

  h4
    padding: 5px 0

h4
  text-transform: uppercase
  font-size: 1.9em
  color: gray
