h3
  padding: 15px 0
  text-transform: uppercase
  color: seafoam
  font-size: 2em
  border-bottom: 1px solid seafoam
  inline-block()
  padding-right: 40px

p
  padding: 12px 0
  font-size: 1.6em
  line-height: 1.8em
