.slideshow
  padding: 90px 20px

  h3
    color: seafoam

  .img
    display: block
    padding: 30px 0
    margin: 0 auto

  button
    slideshow-btn-width = 12px
    slideshow-btn-height = 24px
    absolute: top 50%
    transform: translateY(-50%)
    size: slideshow-btn-width slideshow-btn-height
    background-size: slideshow-btn-width slideshow-btn-height
    background-repeat: no-repeat
    padding: 0
    margin: 0
    background-color: transparent
    border: none
    text-indent: -1000px
    outline: none

    &.slick-prev
      left: -25px
      background-image: url('/img/icons/slide-arrow-left.svg')

    &.slick-next
      right: -25px
      background-image: url('/img/icons/slide-arrow-right.svg')

  +below('xs')
    padding-top: 40px
    padding-bottom: 40px

    .img
      max-width: 80%

  @media (max-width: 1150px)
    .img
      max-width: 90%
