#takeaway
  background-color: seafoam
  color: white
  padding: 105px 20px 65px

  .wrap
    position: relative

  .controls
    group()

  h3
    color: white
    border-bottom: none
    padding: 15px 0

  p
    font-size: 2.2em
    line-height: 1.8em
    padding: 15px 0

  a.button
    button(gray)
    max-width: 143px
    width: 100%
    absolute: bottom 45px left 0 right 0
    margin: 0 auto

  .controls a
    inline-block()
    text-transform: uppercase
    font-size: 1.3em
    padding: 55px 0
    cursor: pointer
    min-width: 150px

    img
      max-width: 16px

    span
      color: gray
      hover-darken(15%, true)
      transition: color .5s
      padding: 0 15px

  .prev
    float: left

  .next
    float: right

  +below('l')
    padding-top: 65px
    padding-bottom: 25px

  +below('s')
    .controls
      span
        display: none

      a
        min-width: 20px

    .next
      text-align: right
