#takeaway
  background-color: seafoam
  color: white
  padding: 105px 0 65px

  .controls
    group()

  h3
    color: white
    border-bottom: none
    padding: 15px 0

  p
    font-size: 2.5em
    line-height: 2em
    padding: 15px 0

  a
    inline-block()
    text-transform: uppercase
    font-size: 1.3em
    padding: 55px 0
    cursor: pointer

    img
      max-width: 30px

    span
      color: gray
      hover-darken(15%, true)
      transition: color .5s

  .prev
    float: left

  .next
    float: right
