#title
  border-top: 1px solid banner-gray
  padding: 70px 0 50px

  h1
    color: seafoam
    text-transform: uppercase
    font-size: 4.2em
    padding: 15px 0

  h2
    text-transform: uppercase
    font-size: 2em
    color: gray
    padding: 15px 0
    font-weight: 500

  h3
    font-size: 1.5em
    color: gray
    font-weight: normal
    text-transform: uppercase
    padding-bottom: 40px

  hr
    max-width: 100px
    border-top: 1px
    border-color: seafoam
