#title
  border-top: 1px solid title-border-gray
  padding: 120px 0 0px

  .wrap
    box-sizing: content-box
    padding: 0 20px

  h1
    color: seafoam
    font-size: 3.6em
    padding: 7px 0


  h2
    font-size: 2.0em
    color: gray
    padding-top: 10px
    font-weight: 500

  h3
    font-size: 1.5em
    color: gray
    font-weight: normal
    padding: 4px 0 60px 0
    border-bottom: none
    text-transform: none

  hr
    max-width: 60px
    border-top: 1px
    border-color: seafoam
    margin-bottom: 60px

  .wrap
    box-sizing: content-box
    background-color: white

  .video
    padding: 0
    background-color: white
