footer
  h2 Let's Chat
  p.contact
    a(href= 'mailto:' + email)= email
    span &nbsp;&sol;&sol;&nbsp;
    a(href= 'tel:+17327403778')| 732 740 3778
  ul
    li: a(target= '_blank', href='https://www.linkedin.com/in/alexamartinez16')
      include ../assets/img/icons/linkedin.svg
    li: a(target= '_blank', href='https://twitter.com/alexa_rae4')
      include ../assets/img/icons/twitter.svg
    li: a(target= '_blank', href='https://instagram.com/alexa_rae16/')
      include ../assets/img/icons/instagram.svg
    li: a(target= '_blank', href='http://lexa-rae.tumblr.com/')
      include ../assets/img/icons/tumblr.svg
  p.credit: a(href='http://joshrowley.me') Developed by Josh Rowley
