footer
  h2 Let's Chat
  p
    a(href= 'mailto:' + email)= email
    span &nbsp;&sol;&sol;&nbsp;
    a(href= 'tel:+17327403778')| 732 740 3778
  ul
    li: a(href='#'): img(src='/img/icons/linkedin.svg')
    li: a(href='#'): img(src='/img/icons/twitter.svg')
    li: a(href='#'): img(src='/img/icons/instagram.svg')
    li: a(href='#'): img(src='/img/icons/tumblr.svg')
