header
  .wrap
    a(href='/')
      img.logo(src='/img/logo.svg')
      h1 Alexa Martinez
    nav
      ul
        li: a(href= site.projects[0]._url) Work
        li: a(href= '/#intro') About
        li: a(href= 'mailto:' + email) Contact
        li: a(href= '#') Resume
