header
  .wrap
    a(href='/')
      img.logo(src='/img/logo.svg')
      h1 Alexa Martinez
    nav
      ul
        li: a(href= '/') Work
        li: a#about-link(href= '/#intro') About
        li: a(href= 'mailto:' + email) Contact
        li: a(href= '/docs/alexa-martinez-resume.pdf' target='_blank') Resume

  img.hamburger(src='/img/icons/mobile-menu.svg')
