extends layout

block vendor_js
  script(src= waypoints_js)

block content
  #index
    #banner
      .contain
        :markdown
          ### I am an
          ## Interaction Designer
          looking to collaborate with inspiring professionals, refine my skills, and produce impactful work.
        a#skills-link(href= '#skills') View Skills

    #gallery
      .wrap
        ul
          - each p in sort_projects(site.projects, data.order)
            li: .wrapper
              a(href= p._url)
                img(src= project_img(p.thumbnail))
                .hover.preload: .contain!= marked(p.hover)


    #intro
      img(src='/img/me-2x.jpg')
      .intro
        :markdown
          ### Hey! How's it going?

          I'm Alexa Martinez, a New Media Designer at Rochester Institute of Technology. My love for design began with print, packaging, and type. Now I've developed my style and turned my passion into total adoration for motion graphics and all things interactive.

          I'm a Jersey girl, a soccer player, a water bug, and a dreamer. I find inspiration everywhere I go, and can't wait to put my passion to good use. I am eager to start my design career come graduation in May. If you like what you see, don't be a stranger!

    #skills
      .wrap
        ul
          li
            img(src='/img/icons/skills-visual.svg')
            .copy
              :markdown
                ### Visual

                My roots as a graphic designer help translate my style into unique branding and UI campaigns.
          li
            img(src='/img/icons/skills-ux.svg')
            .copy
              :markdown
                ### UX

                Understanding the user and solving problems in the most intuitive way is key to a successful design.
          li
            img(src='/img/icons/skills-motion.svg')
            .copy
              :markdown
                ### Motion

                There is nothing more exciting and satisfying than watching designs come to life through motion graphics.
