extends layout

block vendor_js
  script(src= waypoints_js)

block content
  #index
    #banner
      .contain
        :markdown
          ### I am a
          ## Visual Designer
          looking to collaborate with inspiring professionals, refine my skills, and produce impactful work.
        a#skills-link(href= '#skills') View Skills

    #gallery
      .wrap
        ul
          - each p in sort_projects(site.projects, data.order)
            li: .wrapper
              a(href= p._url)
                img(src= project_img(p.thumbnail))
                .hover.preload: .contain!= marked(p.hover)


    #intro
      img(src='/img/me-2x.jpg')
      .intro
        :markdown
          ### Hey! How's it going?

          Alexa Martinez is a visual designer with a multidisciplinary background. She is currently working at Elephant - a stealth agency born out of Huge that works closely with the Apple brand and its many products.

    #skills
      .wrap
        ul
          li
            img(src='/img/icons/skills-visual.svg')
            .copy
              :markdown
                ### Visual

                Solid roots in graphic design help translate her style into unique branding and UI campaigns.
          li
            img(src='/img/icons/skills-ux.svg')
            .copy
              :markdown
                ### UX

                Understanding the user and solving problems in the most intuitive way is key to a successful design.
          li
            img(src='/img/icons/skills-motion.svg')
            .copy
              :markdown
                ### Motion

                There is nothing more exciting and satisfying than watching designs come to life through motion graphics.
