extends layout

block content
  #index
    #banner
      .contain
        :markdown
          ### I am an
          ## Interactive Designer
          looking to collaborate with inspiring professionals, refine my skills, and produce impactful work.
        a(href= site.projects[0]._url) View Work

    #gallery
      .wrap
        ul
          - each p in site.projects
            li: a(href= p._url): img(src= project_img(p.thumbnail))

    #intro
      img(src='/img/me-2x.jpg')
      .intro
        :markdown
          ### Hey! How's it going?

          I'm Alexa Martinez, a New Media Designer at Rochester Institute of Technology. My love for design began with print, packaging, and type. Now I've developed my style and turned my passion into total adoration for motion graphics and all things interactive.

          I'm a Jersey girl, a soccer player, a water bug, and a dreamer. I find inspiration everywhere I go, and can't wait to put my passion to good use. I am eager to start my design career come graduation in May. If you like what you see, don't be a stranger!
