extends layout

block vendor_js
  script(src= waypoints_js)

block content
  #index
    #banner
      .contain
        :markdown
          ## VISUAL DESIGNER
          Alexa uses her multi-disciplinary design background to create meaningful products and experiences.
        a#skills-link(href= '#skills') View Skills

    #gallery
      .wrap
        ul
          - each p in sort_projects(site.projects, data.order)
            li: .wrapper
              a(href= p._url)
                img(src= project_img(p.thumbnail))
                .hover.preload: .contain!= marked(p.hover)


    #intro
      img(src='/img/me-2x.jpg')
      .intro
        :markdown
          Alexa is a visual designer at <a href="https://helloelephant.com" target="_blank">Elephant</a>, a stealth branch of Huge that partners closely with the Apple brand. As a New Media Design alum from Rochester Institute of Technology, she possesses a multitude of skills ranging from user experience and visual design to prototyping and motion graphics.

          In short, she is a Jersey girl, a soccer player, a water bug, and a dreamer. Feel free to reach out and learn what she's up to.

    #skills
      .wrap
        ul
          li
            img(src='/img/icons/skills-ux.svg')
            .copy
              :markdown
                ### UX

                Successful design stems from properly understanding users and their needs.

          li
            img(src='/img/icons/skills-visual.svg')
            .copy
              :markdown
                ### Visual

                Strong roots in graphic design provide a vital foundation for sound products and campaigns.

          li
            img(src='/img/icons/skills-motion.svg')
            .copy
              :markdown
                ### Motion

                Holistic experiences come full circle with just the right touch of animation and prototyping.
