extends layout

block content
  #banner
    .contain
      :markdown
        ### I am an
        ## Interactive Designer
        looking to collaborate with inspiring professionals, refine my skills, and produce impactful work.
      a(href= '#') View Work

  .wrap
    #gallery
      ul
        li: img(src='/img/sounds-by-the-sea.png')
        li: img(src='/img/sounds-by-the-sea.png')
        li: img(src='/img/sounds-by-the-sea.png')
        li: img(src='/img/sounds-by-the-sea.png')
        li: img(src='/img/sounds-by-the-sea.png')
        li: img(src='/img/sounds-by-the-sea.png')
