doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css()

  body
    header
      .wrap
        img.logo(src='/img/logo.png')
        h1 Alexa Martinez
        nav
          ul
            li: a(href= '/project') Work
            li: a(href= '#') About
            li: a(href= '#') Contact
            li: a(href= '#') Resume

    block content

    footer
      h2 Let's Chat
      p
        a(href= 'mailto:' + email)= email
        span &nbsp;&sol;&sol;&nbsp;
        a(href= 'tel:+17327403778')| 732 740 3778
      ul
        li: a(href='#'): img(src='/img/icons/linkedin.png')
        li: a(href='#'): img(src='/img/icons/twitter.png')
        li: a(href='#'): img(src='/img/icons/instagram.png')
        li: a(href='#'): img(src='/img/icons/pinterest.png')
        li: a(href='#'): img(src='/img/icons/tumblr.png')
        li: a(href='#'): img(src='/img/icons/vimeo.png')

    != js()
