doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content= description)
    meta(name='author', content= author)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title

    meta(property='og:title', content= title)
    meta(property='og:description', content= description)
    meta(property='og:image', content= "http://alexamartinez.com/img/post-image.jpg")
    meta(property='og:type', content='website')

    block vendor_css
    != css('/')

  body
    include _header
    block content
    include _footer

    include _analytics
    script(src= jquery)
    block vendor_js
    != js('/')
    //- dummy elements to hide using nth last child rules targeting
    //- netlify popup (backup in case the netlify logo isn't present
    //- so that the rule doesnt affect actual content
    span
    span
    span
