extends layout

block content
  #project
    #title
      .wrap
        h1 Greatest Hotels
        h2 Rebranding and Web Presence for Luxury Hoteliers
        h3 Identity & Website. Fall 2013.
        hr
    #featured-image
      p Featured Image/Video
    #description
      .wrap
        :markdown
          [Greatest Hotels](#) is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.
    #goal-module
      .img
        p Image
      .copy
        :markdown
          ### Goal

          To empower hoteliers to control their own destiny.

          There is a need to **immerse** users in an intensely visual experience of their hotel as if they were actually there and **capture** the energy and beauty of prime luxury hotels around the world. Essentially we want to **redirect** users to trusted hotel sites for instant booking.
