extends layout

block content
  #project
    #title
      .wrap
        h1 Greatest Hotels
        h2 Rebranding and Web Presence for Luxury Hoteliers
        h3 Identity & Website. Fall 2013.
        hr
    #featured-image
      p Featured Image/Video
