extends layout

block content
  #project
    #title
      .wrap
        h1 Greatest Hotels
        h2 Rebranding and Web Presence for Luxury Hoteliers
        h3 Identity & Website. Fall 2013.
        hr
    #featured-image
      p Featured Image/Video
    #description
      .wrap
        :markdown
          [Greatest Hotels](#) is new to the market of Online Direct Reservations for luxury hotels. They are in need of an identity and web presence reflective of their upscale, high quality brand. Incorporating Google Business Photos to drive traffic and captivate users is of utmost priority.

