@font-face
  font-family: 'din'
  src: url('/fonts/DINOT.otf')
  font-weight: normal

@font-face
  font-family: 'din'
  src: url('/fonts/DINOT-Medium.otf')
  font-weight: 500

@font-face
  font-family: 'din'
  src: url('/fonts/DINOT-Bold.otf')
  font-weight: bold
