footer
  background-image: url('/img/bottom-bg.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  text-align: center
  padding: 50px 0 30px 0

  h2
    color: white
    text-transform: uppercase
    font-size: 2em
    padding: 15px 0 0 0
    letter-spacing: 0.1em

  p
    color: banner-gray
    font-size: 1.6em
    font-weight: bold
    padding: 5px 0

  a
    color: banner-gray
    hover-darken(10%, true)
    transition: color .3s
    font-weight: normal

  span
    color: seafoam

  ul
    inline-list(10)
    inline-block()
    padding: 15px 0

    svg
      social-icon-width = 40px
      size: social-icon-width (social-icon-width / 2)
      cursor: pointer

      path
        fill: seafoam
        transition: fill .5s ease

      &:hover
        path
          fill: darken-seafoam

  .credit
    font-weight: normal
    font-size: 1.1em
    padding-top: 35px


  +below('s')
    padding: 25px 0

    .contact
      a
        display: block
        padding: 2px 0

      span
        display: none
