@keyframes slide-in
  0%
    opacity: 0
    transform: translateX(100%)

  75%
    opacity: 1

  100%
    transform: none

@keyframes slide-out
  0%
    transform: none

  75%
    opacity: 1

  100%
    opacity: 0
    transform: translateX(100%)

header
  padding: 35px 20px

  .logo
    max-width: 60px
    float: left

  h1
    float: left
    line-height: 35px
    padding-left: 15px
    color: gray
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 1.8em
    hover-darken()
    transition: color .3s

  nav
    float: right
    text-transform: uppercase

  .wrap
    group()

  nav
    ul
      inline-list(28px)
    a
      color: seafoam
      font-weight: 500
      font-size: 1.3em
      hover-darken(25%, true)
      transition: color .2s
      line-height: 35px

  li
    transition: transform 0.2s

    &:hover
      transform: scale(1.02)

  .hamburger
    display: none


  +below('s')
    padding-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid gallery-bg

    a
      text-align: center
      display: block
      width: 100%
      group()

    nav
      ul
        position: fixed
        top: 0
        right: 0
        width: 220px
        background-color: white
        border-left: 2px solid gallery-bg
        animation-name: slide-out
        transition: .5s
        transform: translateX(100%)
        z-index: 2

        li
          float: none
          margin: 0
          border-bottom: 2px solid gallery-bg

          a
            padding: 17px 0

    .logo
      max-width: 52px

    h1
      line-height: 30px
      font-size: 1.6em


    .hamburger
      position: absolute
      display: block
      top: 0
      right: 0
      width: 20px
      padding: 25px
      box-sizing: content-box

    &.open-menu
      nav
        ul
          display: block
          animation-name: slide-in
          transform: none
