button(color)
  display: block
  line-height: 34px
  border: 1px solid color
  color: color
  text-transform: uppercase
  text-align: center
  font-size: 1.4em
  transition: color .3s
  hover-darken(25%, true)
  font-weight: 500
