@import '_fonts'
@import '_settings'

normalize-css()
base()

*, *:before, *:after
  box-sizing: border-box

.wrap
  max-width: 1080px
  margin: 0 auto

a
  reset-link()

@import '_header'
@import '_footer'

#index
  @import 'index/*'
