@import '_fonts'
@import '_settings'
@import'_mixins'

normalize-css()
base()

*, *:before, *:after
  box-sizing: border-box

.wrap
  max-width: 1080px
  margin: 0 auto

a
  reset-link()

h1, h2, h3, h4, h5, h6, p, ul, hr
  margin: 0
  padding: 0

ul
  list-style-type: none

@import '_header'
@import '_footer'

#index
  @import 'index/*'

  h3
    color: seafoam
    text-transform: uppercase
    letter-spacing: 0.1em
    padding: 0 0 10px
    font-size: 1.9em

#project
  @import 'project/*'
