#gallery
  background-color: gallery-bg

  ul
    group()
    padding: 70px 20px

    li
      position: relative
      max-width: 50%
      float: left
      padding: 2px

  img
    max-width: 100%

  .hover
    absolute: top 0
    size: 100%
    background-color: seafoam
    opacity: 0
    transition: opacity .5s ease-in-out

    &:hover
      opacity: 0.95

  .contain
    absolute: top 50%
    transform: translateY(-50%)
    width: 100%

  h4, h5
    text-align: center

  h4
    font-size: 2.55em
    color: white
    text-transform: uppercase

  h5
    font-size: 1.78em
    color: gray

  +below('s')
    ul
      padding: 35px 20px

      li
        max-width: 100%
