#intro
  position: relative
  max-width: 800px
  margin: 0 auto
  group()
  padding: 70px 0

  img
    max-width: 270px
    float: left

  .intro
    float: left
    max-width: 530px
    padding: 0 0 0 45px
    absolute: top 50% right 0
    transform: translateY(-50%)

  h3
    color: seafoam
    text-transform: uppercase
    letter-spacing: 0.1em
    padding: 0 0 10px
    font-size: 1.9em

  p
    font-size: 1.55em
    line-height: 1.7em
