#skills
  background-color: gallery-bg

  ul
    group()

  li
    float: left
    width: 33%
    text-align: center
    padding: 120px 0

  img
    max-width: 120px
    margin: 0 auto
    display: block

  .copy
    max-width: 220px
    margin: 10px auto

  p
    font-size: 1.5em
    line-height: 1.6em

  +below('s')
    li
      width: 100%
      padding: 30px 0

    padding-bottom: 20px
